/* Global Styles */
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #333;
}

.navbar-brand, .nav-link {
    color: #fff;
    font-size: 1.3rem;
}

.navbar-brand {
    font-size: 1.7rem;
}

.nav-link:hover, .nav-link:focus {
    color: #fff;
    border-left: 2px solid #fff;
}

/* Carousel */
.carousel-item {
    height: 100vh;
}

.carousel-inner {
    height: 70vh;
}

/* Responsive styling */
@media (max-width: 768px) {
    .carousel-item {
        height: 60vh;
    }

    .carousel-center {
        top: 40%;
    }

    .image {
        background-attachment: scroll;
    }
}

@media (max-width: 768px) {
    .carousel-item {
        height: 50vh; /* Reduce height for smaller screens */
    }
    .carousel-inner {
        height: 50vh;
    }
}

.carousel-center {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 768px) {
    .image {
        background-position: top;
        background-attachment: scroll; /* Disable fixed background on mobile for performance */
    }
}

/* Blog Card Styles */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

/* Footer */
.bg-dark {
    background-color: black !important;
}

/* Responsive Spacing */
@media (max-width: 576px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
