/* Global Styles */
body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #333;
}

.navbar-brand, .nav-link {
    color: #fff;
    font-size: 1.3rem;
}

.navbar-brand {
    font-size: 1.7rem;
}

.nav-link:hover, .nav-link:focus {
    color: #fff;
    border-left: 2px solid #fff;
}

/* Carousel */
.carousel-item {
    height: 100vh;
}

.carousel-inner {
    height: 70vh;
}

@media (max-width: 768px) {
    .carousel-item {
        height: 50vh; /* Reduce height for smaller screens */
    }
    .carousel-inner {
        height: 50vh;
    }
}

.carousel-center {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 768px) {
    .image {
        background-position: top;
        background-attachment: scroll; /* Disable fixed background on mobile for performance */
    }
}

/* Accordion Styles */
.accordion {
    max-width: 900px; 
    margin: 20px auto; 
}

.accordion-item {
    background-color: #000; 
    border: 1px solid #444; 
}

.accordion-button {
    background-color: #000; 
    color: #fff; 
    border: none; 
    padding: 1rem; 
    font-size: 1.2rem; 
    width: 100%; 
}

.accordion-button:not(.collapsed) {
    background-color: #111;
    color: #fff;
    box-shadow: inset 0 -1px 10px rgba(255, 255, 255, 0.1);
}

.accordion-button::after {
    filter: invert(1); 
}

.accordion-button:focus {
    box-shadow: none; 
}

.accordion-body {
    background-color: #111;
    color: #fff; 
    border-top: 1px solid #444; 
    padding: 1rem;
}

.accordion-button:hover {
    background-color: #222; 
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .accordion-button {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
        padding: 0.5rem; /* Reduce padding on smaller screens */
    }

    .accordion-body {
        font-size: 0.9rem; /* Slightly smaller text for mobile */
    }

    /* Center accordion for smaller devices */
    .accordion {
        max-width: 90%; /* Allow more width on mobile */
    }
}

.accordionBody {
    margin-top: 15vh;
}

/* Utilities */
.container-fluid, .container {
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
}

.footer{
    margin-top: 15vh;
}

